<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlServices.Properties.Settings>
            <setting name="SqlServerConnectionString" serializeAs="String">
                <value>Data Source=bds256164280.my3w.com;Integrated Security=False;User ID=bds256164280;Password=zc1116cyg;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="SqliteConnectString" serializeAs="String">
                <value>Data Source=GameScore.sqlite</value>
            </setting>
            <setting name="SqlitePsw" serializeAs="String">
                <value>Encrypt5px.GameProject</value>
            </setting>
        </SqlServices.Properties.Settings>
    </userSettings>
</configuration>